@import "../icomoon/style.css";
@import "../katex/styles.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
   --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
  
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
  
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
  
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
  
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
  
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
  
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
  
    --border:214.3 31.8% 91.4%;
    --input:214.3 31.8% 91.4%;
    --ring:221.2 83.2% 53.3%;
    --radius: 0.75rem;

    --sidebar-background: 60 9.1% 97.8%;
    --sidebar-foreground: 20 14.3% 4.1%;
    --sidebar-primary: 142.1 76.2% 36.3%;
    --sidebar-primary-foreground: 355.7 100% 97.3%;
    --sidebar-accent: 60 4.8% 95.9%;
    --sidebar-accent-foreground: 20 14.3% 4.1%;
    --sidebar-border: 20 5.9% 90%;
    --sidebar-ring: 142.1 76.2% 36.3%;
    --sidebar-input: 20 5.9% 90%;
  }

  .dark {
   --background:222.2 84% 4.9%;
    --foreground:210 40% 98%;
  
    --card:222.2 84% 4.9%;
    --card-foreground:210 40% 98%;
  
    --popover:222.2 84% 4.9%;
    --popover-foreground:210 40% 98%;
  
    --primary:217.2 91.2% 59.8%;
    --primary-foreground:222.2 47.4% 11.2%;
  
    --secondary:217.2 32.6% 17.5%;
    --secondary-foreground:210 40% 98%;
  
    --muted:217.2 32.6% 17.5%;
    --muted-foreground:215 20.2% 65.1%;
  
    --accent:217.2 32.6% 17.5%;
    --accent-foreground:210 40% 98%;
  
    --destructive:0 62.8% 30.6%;
    --destructive-foreground:210 40% 98%;
  
    --border:217.2 32.6% 17.5%;
    --input:217.2 32.6% 17.5%;
    --ring:224.3 76.3% 48%;
    
    --sidebar-background: 24 9.8% 8%;
    --sidebar-foreground: 60 9.1% 97.8%;
    --sidebar-primary: 142.1 70.6% 45.3%;
    --sidebar-primary-foreground: 144.9 80.4% 10%;
    --sidebar-accent: 24 9.8% 12%;
    --sidebar-accent-foreground: 60 9.1% 97.8%;
    --sidebar-border: 12 6.5% 15.1%;
    --sidebar-ring: 142.1 70.6% 45.3%;
    --sidebar-input: 12 6.5% 15.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply antialiased;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}

@layer utils {
  .transition-200 {
    @apply transition-all duration-200;
  }
  .absolute-x {
    @apply absolute !left-1/2 !-translate-x-1/2;
  }
  .absolute-y {
    @apply absolute !top-1/2 !-translate-y-1/2;
  }
  .absolute-center {
    @apply absolute-x absolute-y;
  }
  .flex-y-center {
    @apply flex items-center;
  }
  .flex-x-center {
    @apply flex justify-center;
  }
  .flex-center {
    @apply flex items-center justify-center;
  }
  .flex-center-between {
    @apply flex items-center justify-between;
  }
  .flex-between {
    @apply flex justify-between;
  }
}

@layer components {
	.container {
		@apply max-w-[1440px];
	}
}

.shimmer {
  background-color: #f6f7f8;
  background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeholderShimmer;
  animation-timing-function: linear;
  cursor: progress;
}

.image-loading {
  position: relative;
  overflow: hidden;
}

.image-loading:after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: #f6f7f8;
  background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeholderShimmer;
  animation-timing-function: linear;
}

.transition-300 {
  transition-duration: 0.3s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, -0.2, 1);
}
.page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}

.layout-enter-active,
.layout-leave-active {
  transition: all 0.4s;
}

.layout-enter-from,
.layout-leave-to {
  opacity: 0;
  filter: blur(1rem);
}

@keyframes placeholderShimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-enter-active {
  animation: fade 0.3s ease-in-out;
}

.fade-leave-active {
  animation: fade 0.3s ease-in-out reverse;
}
.fade-fast-enter-active {
  animation: fade 0.1s ease-in-out;
}

.fade-fast-leave-active {
  animation: fade 0.1s ease-in-out reverse;
}

/* Hide scrollbar for WebKit browsers (Chrome, Safari, Edge) */
.invisible-scroll {
  overflow: auto;
  -webkit-overflow-scrolling: touch; /* For smooth scrolling */
}

.invisible-scroll::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Hide scrollbar for Firefox */
.invisible-scroll {
  overflow: auto;
  scrollbar-width: none; /* Hide scrollbar */
  -ms-overflow-style: none; /* Hide scrollbar in IE 10+ */
}

.invisible-scroll::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Firefox */
}

::-webkit-scrollbar-thumb {
  background-color: #0003;
  border-radius: 10px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}
